* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.container {
  width: 700px;
  display: flex;
}

.container_1 {
  background-color: hsl(31, 77%, 52%);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.container_1 .img {
  margin-bottom: 15px;
}

.container_1 h3 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bolder;
}

.container_1 p {
  margin-bottom: 50px;
  font-size: 12px;
}

.btn1 button {
  height: 35px;
  width: 110px;
  border-radius: 20px;
  border: none;
  color: hsl(31, 77%, 52%);
  transition: all 0.3s ease-in-out;
}

.btn1 button:hover {
  cursor: pointer;
  background-color: hsl(31, 77%, 52%);
  color: white;
  border: 1px solid white;
}

.container_2 {
  background-color: hsl(184, 100%, 22%);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
}

.container_2 .img {
  margin-bottom: 15px;
}

.container_2 h3 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bolder;
}

.container_2 p {
  margin-bottom: 50px;
  font-size: 12px;
}

.btn2 button {
  height: 35px;
  width: 110px;
  border-radius: 20px;
  border: none;
  color: hsl(184, 100%, 22%);
  transition: all 0.3s ease-in-out;
}

.btn2 button:hover {
  cursor: pointer;
  background-color: hsl(184, 100%, 22%);
  color: white;
  border: 1px solid white;
}

.container_3 {
  background-color: hsl(179, 100%, 13%);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container_3 .img {
  margin-bottom: 15px;
}

.container_3 h3 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bolder;
}

.container_3 p {
  margin-bottom: 50px;
  font-size: 12px;
}

.btn3 button {
  height: 35px;
  width: 110px;
  border-radius: 20px;
  border: none;
  color: hsl(179, 100%, 13%);
  transition: all 0.3s ease-in-out;
}

.btn3 button:hover {
  cursor: pointer;
  background-color: hsl(179, 100%, 13%);
  color: white;
  border: 1px solid white;
}
